    body { background-color: #EEE; }
    tr: nth-child(odd) { background-color:#CDD; }
    tr: nth-child(even) { background-color:#DEE; }
    td { vertical-align: top; padding: 3px 5px; }
    p {color:green; font-size: 14px}
    h1 {color:green;}
    h2 {color:green;}
    canvas {border: 1px dotted grey}
    .leftStack {float: left}
    .centered {text-align: center}
    .padded {padding: 5px 5px;}
    .pointer {cursor: pointer}
    .invisible {display: none}
    .box {border: 1px dotted green}
    .inlineItem {display: inline}
    .greycover 
    {
    position: absolute;
    bottom: 0; left: 0;
    height: 100%; width: 100% ;
    opacity: 0.3; 
    background-color: #000;
    z-index: 1;
    display: none;
    }

    span {font-size: 15px}
    div.chopButtonBox
    {
        position: absolute;
        left: 40%;
        top: 40%;
        text-align: center;
        background-color:#ffffff;
        border:1px solid black;
        opacity:0.6;
    }

    .chopButton
    {
        font-size: 30px;
        vertical-align: middle;
        text-align: center;
        line-height: 150px;
    }

    .doneButton
    {
        font-size: 15px;
        vertical-align: middle;
        text-align: center;
        line-height: 30px;
    }

    .cent
    {
     margin-left: auto;
     margin-right: auto;
     margin-top: auto;
    }

    #bigscreen
    {
      position: absolute;
      top: 20px; left: 0px; 
      z-index: 1; 
      background-color: grey ;
      opacity: 0.6
    }

    #introText
    {
      position: absolute;
      width: 100%;
      top: 100px;
      text-align: center;
      z-index: 2;

    }
